/* Скидання базових стилей */
h3 {
  font-size: inherit;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
/* * {
padding: 0;
margin: 0;
border: 0;
} */
a:focus,
a:active {
  outline: none;
}
address {
  font-style: normal;
}
/* Змінні */
:root {
  --color-accent: #2196f3;
  --color-bold: #212121;
  --color-main: #757575;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-bgr-grey: #f5f4fa;
  --color-bgr-lhgt-grey: #f5f5f5;
  --color-bgr-dark: #2f303a;
}

/* Загальні класи */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-main);
  background-color: var(--color-white);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.hover-accent:hover,
.hover-accent:focus {
  color: var(--color-accent);
}

.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--color-bold);
}

/* Header */
.header-logo {
  color: var(--color-black);
}

.header-navigation-link {
  line-height: calc(16 / 14);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-bold);
}

.header-contact {
  line-height: calc(16 / 14);
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* Hero */

.hero {
  background-color: var(--color-bgr-dark);
}

.hero-title {
  font-size: 44px;
  line-height: calc(60 / 44);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
}

/* Benefits */

.benefits-subtitle {
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-bold);
}

/* Works */

/* Team */

.team {
  background-color: var(--color-bgr-grey);
}

.team-subtitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 500;
  color: var(--color-bold);
}

.team-description {
  font-size: 16px;
  line-height: calc(19 / 16);
}

/* Footer */

.footer {
  background-color: var(--color-bgr-dark);
}

.footer-logo {
  color: var(--color-white);
}

.footer-contact {
  color: var(--color-white);
}

.footer-contact-email {
  opacity: 0.6;
}

.footer-contact-tel {
  opacity: 0.6;
}

/* Portfolio */

.filter-btn {
  font-size: 16px;
  line-height: calc(26 / 16);
  font-weight: 500;
  text-align: center;
  color: var(--color-bold);
  background-color: var(--color-bgr-grey);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-bold);
}
.portfolio-category {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/*Службові теги*/
.accent {
  color: var(--color-accent);
}
.active {
  color: var(--color-accent);
}
.link-inherit {
  color: inherit;
}
.active-btn {
  color: var(--color-white);
  background-color: var(--color-accent);
}
